*.o
*.d
*.eep
*.elf
*.hex
*.lst
*.map
*.lst
*.lss
*.srec
*.nm
*.mk
*.atsuo
*.a
*.bin
*.xslt
*.xml
ports/bdk-atxx4-mstp/default/
ports/bdk-atxx4-mstp/m2560/bac2slan-hw/Debug/
ports/bdk-atxx4-mstp/m2560/bac2slanhw/default/
